/* General */

body {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

html {
    font-size: 16px;
    font-family: "Julius Sans One", sans-serif;
    /*border: 1px solid black;*/
}

.inanimate {
  animation: none;
}

a {
  color: lightslategray; 
  text-decoration: none;  
}

hr {
  animation: 0.5s ease-out 0s 1 slideInFromRight;
}

/* Nav Bar */

  header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    border-bottom: solid 1px black;
    background-color: white;
    opacity: 0.9;
    animation: 0.75s ease-out 0.5s 1 slideInFromTop;
  }

  header .content {
    display: flex;
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
  }

  nav a {
    color: black;
    text-decoration: none;
    transition: color 0.25s
  }
  
  nav a:hover {
    color: lightslategray;
  }
 
  header nav ul {
    display: flex;
  }
  
  header nav li {
    padding-left: 16px;
  }

  @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

/* Main Section */

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 24px;
    align-content: center;
    height: 100vh;
  }

  .main-image {
    grid-column-start: 1;
    max-height: 100%;
    max-width: 100%;
    box-shadow: 5px 5px 5px gray;
    margin: 0px 24px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column-start: 2;
    max-height: 100%;
    max-width: 100%;
    margin: 0px 24px;
  }

  .content-container-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column-start: 2;
    max-height: 100%;
    max-width: 100%;
    margin: 0px 24px;
  }

  .content-container-home h1 {
    font-size: 1.5vw;
    text-align: right;
    animation: 0.75s ease-out 0s 1 slideInFromRight;
    font-family: "Crimson Pro", serif;
    margin-left: 50px;
  }

  .content-container-home h2 {
    font-size: 2vw;
    text-align: right;
    animation: 1s ease-out 0s 1 slideInFromRight;
    margin-left: 50px;
  }

  h3 {
    font-size: 1.5vw;
    text-align: left;
    animation: 0.75s ease-out 0s 1 slideInFromRight;
  }

  p,
  .content-container ul {
    font-size: 1.25vw;
    font-weight: 200;
    text-align: left;
    animation: 1s ease-out 0s 1 slideInFromRight;
    font-family: 'Crimson Pro', serif;
    line-height: 1.5rem;
  }

  .schools {
    grid-column-start: 1;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    margin-top: 10vh;  
    margin-left: 2.5vw;
    margin-bottom: 5vh;
    margin-right: 2.5vw;
    max-height: 80vh;
  }

  #pnw {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
    max-height: auto;
    max-width: 25vw;
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
    z-index: 9;
    box-shadow: -5px -5px 5px gray;
  }

  #npu {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 8;
    max-height: auto;
    max-width: 25vw;
    animation: 0.75s ease-out 0s 1 slideInFromLeft;
    z-index: 7;
    box-shadow: 5px 0px 5px gray;
  }

  #uic {
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 12; 
    max-height: auto;
    max-width: 25vw;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    z-index: 8;
    box-shadow: -5px 0px 5px gray;
  }

  #ru {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 15; 
    max-height: auto;
    max-width: 25vw;
    animation: 1.25s ease-out 0s 1 slideInFromLeft;
    z-index: 9;
    box-shadow: -5px 5px 5px gray;
  }



  @keyframes slideInFromRight {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

/* Footer */

footer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  border-top: solid 1px black;
  background-color: white;
  opacity: 0.9;
  animation: 1.25s ease-out 0.5s 1 slideInFromBottom;
}

footer .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding-left: 24px;
  padding-right: 24px;
}

footer .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.icons img {
  margin-left: 5px;
  margin-right: 5px;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
}