/* General */

body {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

html {
    font-size: 1vw;
    font-family: "Julius Sans One", sans-serif;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10vh;  
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  padding-bottom: 10vh;
  align-content: center;
}

.inanimate {
  animation: none;
}

a {
  color: lightslategray; 
  text-decoration: none;  
}

hr {
  animation: 0.5s ease-out 0s 1 slideInFromRight;
}

#from-left {
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

b {
  font-weight: 500;
}


/* Nav Bar */

  header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    border-bottom: solid 1px black;
    background-color: white;
    opacity: 0.9;
    animation: 0.75s ease-out 0.5s 1 slideInFromTop;
  }

  header .content {
    display: flex;
    height: 7.5vh;
    padding-left: 1.25vw;
    padding-right: 1.25vw;
    align-items: center;
  }

  nav a {
    color: black;
    text-decoration: none;
    transition: color 0.25s
  }
  
  nav a:hover {
    color: lightslategray;
  }
 
  header nav ul {
    display: flex;
  }
  
  header nav li {
    padding-left: 1vw;
  }

  @media only screen and (max-width: 800px) {
  
    header .content {
      justify-content: center;
      font-size: small;
      padding-left: 5vw;
      padding-right: 5vw; 
    }

    header nav li {
      padding: 0 1vw;
    }

  }


/* Intro */

  #main-intro {
    display: flex;
    height: 100vh;
    align-items: center;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
  }

  .main-image {
    max-height: auto;
    max-width: 50vw;
    box-shadow: 5px 5px 5px gray;
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }

  #main-intro .content-container {
    max-height: auto;
    max-width: 50vw;
    justify-items: stretch;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-column-start: 2;
    max-height: 100%;
    max-width: 100%;
  }

  .content-container h1 {
    display: block;
    font-size: 1.5vw;
    text-align: right;
    animation: 0.75s ease-out 0s 1 slideInFromRight;
    font-family: "Crimson Pro", serif;
    margin-left: 3vw;
    margin-top: 15vh;
    margin-bottom: 15vh;
  }

  .content-container h2 {
    display: block;
    font-size: 2vw;
    text-align: right;
    animation: 1s ease-out 0s 1 slideInFromRight;
    margin-left: 3vw;
    margin-top: 15vh;
    margin-bottom: 15vh;
  }


  /* EdTech */

  #main-edtech {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10vh;
    padding-top: 10vh;  
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    padding-bottom: 10vh;
    align-content: center;
  }

  #workshops-image {
    grid-row-start: 1;
  }

  p,
  .content-container ul,
  #workshops-container ul,
  #xr-container ul {
    font-size: 1.25vw;
    font-weight: 200;
    text-align: left;
    animation: 1s ease-out 0s 1 slideInFromRight;
    font-family: 'Crimson Pro', serif;
    line-height: 1.5vw;
  }

  h3 {
    font-size: 1.5vw;
    text-align: left;
    animation: 0.75s ease-out 0s 1 slideInFromRight;
  }

  #flipped h3,
  #flipped p {
    text-align: right;
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }

  #flipped ul {
    font-size: 1.25vw;
    font-weight: 200;
    text-align: right;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    font-family: 'Crimson Pro', serif;
    line-height: 1.5vw;
  }

  #workshops-image,
  #xr-image {
    grid-column-start: 1;
    grid-column-end: 2;
    max-height: auto;
    max-width: 30vw;
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
    box-shadow: 5px 5px 5px gray;
    margin-left: 5vw;
  }

  #xr-image {
    grid-row-start: 3;  
  }

  #reading-group-image {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    max-height: auto;
    max-width: 30vw;
    animation: 0.5s ease-out 0s 1 slideInFromRight;
    box-shadow: 5px 5px 5px gray;
    margin-right: 5vw;
    justify-self: right;
  }


  /* CompLing */

  #syntaxTree {
    grid-column-start: 1;
    height: 80vh;
    max-width: auto;
    justify-content: space-evenly;
    margin: 0 5vw;
  }


  /* Teaching */

  .schools {
    display: grid;
    align-self: center;
    grid-column-start: 1;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    margin-left: 2.5vw;
    margin-right: 5vw;
    margin-top: 2.5vh;
    max-height: 75vh;
  }

  #pnw {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
    max-height: auto;
    max-width: 22vw;
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
    z-index: 9;
    box-shadow: -5px -5px 5px gray;
  }

  #npu {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 8;
    max-height: auto;
    max-width: 22vw;
    animation: 0.75s ease-out 0s 1 slideInFromLeft;
    z-index: 7;
    box-shadow: 5px 5px 5px gray;
  }

  #uic {
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 12; 
    max-height: auto;
    max-width: 22vw;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    z-index: 8;
    box-shadow: -5px 5px 5px gray;
  }

  #ru {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 15; 
    max-height: auto;
    max-width: 22vw;
    animation: 1.25s ease-out 0s 1 slideInFromLeft;
    z-index: 9;
    box-shadow: -5px 5px 5px gray;
  }


/* Footer */

footer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  border-top: solid 1px black;
  background-color: white;
  opacity: 0.9;
  animation: 1.25s ease-out 0.5s 1 slideInFromBottom;
}

footer .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7.5vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

footer .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.icons img {
  margin-left: 0.3vw;
  margin-right: 0.3vw;
  height: 1.5vw;
  width: auto;
  transition: transform 0.25s;
}

.icons img:hover {
  transform: scale(1.25);
}

footer .content span {
  display: none;
}

@media only screen and (max-width: 800px) {
  
  footer .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: small;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 5vw;
    padding-right: 5vw; 
  }

  footer .content span {
    display: inline; 
    font-size: x-small;
  }

  .icons img {
    margin-left: 1vw;
    margin-right: 1vw;
    height: 4vh;
    width: auto; 
  }

  .icons img:hover {
    transform: none;
  }

  footer .content h1 {
    display: none;
  }

}


/* Animations */

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
}